PORT=5000
NODE_ENV=development
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/civicfix?retryWrites=true&w=majority

# JWT Access Token Configuration
JWT_ACCESS_SECRET=6e14e2576f3aef1aa21f9ac3c470db70eb6979f41a003f61cdff75d0fd5f215f
JWT_ACCESS_EXPIRES_IN=15m
JWT_SECRET=6e14e2576f3aef1aa21f9ac3c470db70eb6979f41a003f61cdff75d0fd5f215f
JWT_EXPIRES_IN=15m

# JWT Refresh Token Configuration
JWT_REFRESH_SECRET=ae635afda89f6e30e854d18fce8a1466698c200ff6f5c4fa0e3cfeeffc7145e6
JWT_REFRESH_EXPIRES_IN=7d

# Gemini AI Configuration
GEMINI_API_KEY=your_gemini_api_key_here
GEMINI_MODEL=gemini-3.6-flash

# Client Configuration
CLIENT_URL=http://localhost:3000
